In [1]:
list=[1,1.2,'gitam','hyd']
list

[1, 1.2, 'gitam', 'hyd']

In [2]:
list=[1,1.2,'gitam','hyd']
list[-1]

'hyd'

In [28]:
list[1, 2, 3, 4]
list[0:3]
list[0:5:2]
list[2:]
list[:2]
list[]

SyntaxError: invalid syntax (<ipython-input-28-9702940e1f43>, line 6)

In [35]:
list1=[1,2,3,4]
list1.insert(4,1)
list1

[1, 2, 3, 4, 1]

In [36]:
list1=[]
for i in range(0,5):
    i=int(input(" "))
    list1.append(i)
    print(list1)

 4
[4]
 3
[4, 3]
 2
[4, 3, 2]
 1
[4, 3, 2, 1]
 6
[4, 3, 2, 1, 6]

In [16]:
list1.pop( )
list1.pop(4)

2

In [15]:
list1
print(list1)
list1.index(2)
list1.extend([1,2,3])
list1

[4, 3, 2]

[4, 3, 2, 1, 2, 3]

In [22]:
list1=[1,2,3,4,5,6]
print(list1)
list2=[1,2]
list1.extend(list2)
list1

[1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6, 1, 2]

In [20]:
li=[50,60,70,80]
print(li)
li.reverse()
print(li)

[50, 60, 70, 80]
[80, 70, 60, 50]

In [27]:
list1=[1,54,632,874,666]
list1.sort()
list1

[1, 54, 632, 666, 874]

# Tuples:
-Tuples are enclosed in paranthesis()

-Tuples are immutable i.e.., we cannot modify the elements in tuple

In [38]:

tuple=(1,2,3,4)
print(tuple)
type(tuple)

(1, 2, 3, 4)

tuple


#  Dictionary:

- enclosed in { }
- dictionay consists of key and value pairs separated by colomn ( : )
- Each key value pair is separated by the comma( , )
- keys should be unique,values may repeat

In [50]:
#Example:
d1 = {"name":"gitam", "roll no-":41, "address":"hyd"}
print(d1)

{'name': 'gitam', 'roll no-': 41, 'address': 'hyd'}

In [83]:
print(d1["name"])

TypeError: list indices must be integers or slices, not str

In [88]:
d1(["email"])= ["221710401041@gmail.com"]
print(d1)

SyntaxError: can't assign to function call (<ipython-input-88-5beb8f1ec292>, line 1)

#  function to find the factorial of a given  number
 #input=5
  #output=120

In [89]:
fact=1
for i in range(5,0,-1):
    fact=fact*i
print(fact)

120

#  strings:

In [94]:
s1="python"
print(s1)
print(s1[::3])
print(s1[1:])
print(s1[2:])
print(s1[::2])

python
ph
ython
thon
pto

In [96]:
s1="pythom"
s2="pyth1233on"
s3="1233"
print(s1.isnumeric())
print(s2.isnumeric())
print(s3.isnumeric())

False
False
True

In [98]:
s1="python"
print(" ".join(s1))

p y t h o n